/* position and dimensions of the navigator */
.navi {
  margin-left:45%;
  width:100px;
  height:20px;
}

/* items inside navigator */
.navi a {
  width:8px;
  height:8px;
  float:left;
  margin:3px;
  background:url(images/navigator.png) 0 0 no-repeat;
  display:block;
  font-size:1px;
}

/* mouseover state */
.navi a:hover {
  background-position:0 -8px;      
}

/* active state (current page state) */
.navi a.active {
  background-position:0 -16px;     
}

/* 
  root element for the scrollable. 
  when scrolling occurs this element stays still. 
*/
div.slideshow-block {
  /* required settings */
  position:relative;
  float:left;
  overflow:hidden;
  width: 100%; 
}

/* 
  root element for scrollable items. Must be absolutely positioned
  and it should have a super large width to accomodate scrollable items.
  it's enough that you set width and height for the root element and
  not for this element.
*/
div.slideshow-block div.items {  
  /* this cannot be too large */
  width:20000em;  
  position:absolute;
}

/* single scrollable item */
div.slideshow-block div.items > div {
  float:left;
  position:relative;
}

/* active item */
div.slideshow-block div.items > div.active {
}

/* wrapper of picture description */
div.slideshow-block div.slideshow-block-picture-description {
  bottom:0;
  position:absolute;
  z-index:1;
  background:#333;
  opacity: 0.9;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  filter: alpha(opacity=90);
  width: 100%;
}

/* picture description */
div.slideshow-block div.slideshow-block-picture-description > div {
  margin:5px 10px;
  color:#fff;
}
